Telegram AI bot with LangChain nodes (1).json
{
  "name": "Telegram AI bot with LangChain nodes",
  "nodes": [
    {
      "parameters": {
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "e275f31f-6a5f-4444-8bf7-6c003a8e53df",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        528,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "3QaUUqe2UL2S8etO",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.body.chatId }}",
        "contextWindowLength": 10
      },
      "id": "f25a6666-ff23-4372-afd0-4920a99aab6a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        656,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "96faef5d-0349-47fe-a7cf-150953490e90",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1104,
        240
      ],
      "typeVersion": 1.1,
      "webhookId": "0d0f77b1-076b-4954-888e-b5bc98b66f02",
      "credentials": {
        "telegramApi": {
          "id": "K22dyHOdcssB9dTY",
          "name": "Telegram account 5"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}\n",
        "text": "={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "5ad43039-aaa6-43cd-9b0f-1d02f4d9c4ff",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1552,
        240
      ],
      "typeVersion": 1.1,
      "webhookId": "e33e0672-4a19-448a-817c-91bb2b859525",
      "credentials": {
        "telegramApi": {
          "id": "K22dyHOdcssB9dTY",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Execute Workflow Trigger').first().json.chat_id }}",
        "file": "={{ $json.data[0].url }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "2f5d5f25-9870-40d6-ad42-52750e62de63",
      "name": "Send back an image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        736,
        768
      ],
      "typeVersion": 1.1,
      "webhookId": "c516e4a1-3585-49d0-bf5d-4a9ffecd81c0",
      "credentials": {
        "telegramApi": {
          "id": "K22dyHOdcssB9dTY",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "response",
              "stringValue": "Success"
            }
          ]
        },
        "options": {}
      },
      "id": "50b43dbf-39e3-4d00-8e47-01e8c193cd1a",
      "name": "add response field",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        768
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## Generate an image with Dall-E 3 and send it via Telegram",
        "height": 247.42081447963798,
        "width": 752.0361990950231
      },
      "id": "171bee83-c8e1-4af3-9d1c-12cb6ede4943",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "dall-e-3"
            },
            {
              "name": "prompt",
              "value": "={{ $json.query }}"
            },
            {
              "name": "n",
              "value": 1
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "id": "39d532d3-8c96-4722-9cb0-cad92ff39e94",
      "name": "Generate image in Dall-E 3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        768
      ],
      "typeVersion": 4.1,
      "credentials": {
        "openAiApi": {
          "id": "49QMkxkUx2VQdKbq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.body.message }}",
        "options": {
          "humanMessage": "TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}",
          "systemMessage": "=You are a helpful AI assistant. You are chatting with the user named `{{ $json.message.from.first_name }}`. Today is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}\n\nFrom time to time call a user by name (if the user name is provided). In your reply, always send a message in Telegram-supported HTML format. Here are the formatting instructions:\n1. The following tags are currently supported:\n<b>bold</b>, <strong>bold</strong>\n<i>italic</i>, <em>italic</em>\n<u>underline</u>, <ins>underline</ins>\n<s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n<span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n<b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>\n<a href=\"http://www.example.com/\">inline URL</a>\n<code>inline fixed-width code</code>\n<pre>pre-formatted fixed-width code block</pre>\n2. Any code that you send should be wrapped in these tags: <pre><code class=\"language-python\">pre-formatted fixed-width code block written in the Python programming language</code></pre>\nOther programming languages are supported as well.\n3. All <, > and & symbols that are not a part of a tag or an HTML entity must be replaced with the corresponding HTML entities (< with &lt;, > with &gt; and & with &amp;)\n4. If the user sends you a message starting with / sign, it means this is a Telegram bot command. For example, all users send /start command as their first message. Try to figure out what these commands mean and reply accodringly\n"
        }
      },
      "id": "e5aa496d-55d3-456b-82bb-fe10a06c7338",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        576,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        304,
        240
      ],
      "id": "0a425e11-97fb-4d68-b993-cf56cfe3d6c2",
      "name": "Telegram Trigger",
      "webhookId": "f7b24e5c-6669-4601-bc0b-30f3d4ca7c00",
      "credentials": {
        "telegramApi": {
          "id": "K22dyHOdcssB9dTY",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc3934df-8d10-48df-9960-f0db1e806328",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        448
      ],
      "id": "c70933a7-6e5f-43d9-bbac-bb5cb2f2f336",
      "name": "Webhook",
      "webhookId": "bc3934df-8d10-48df-9960-f0db1e806328"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        400
      ],
      "id": "4b78d018-9727-4628-9905-cea3fe6c42de",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send back an image": {
      "main": [
        [
          {
            "node": "add response field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate image in Dall-E 3": {
      "main": [
        [
          {
            "node": "Send back an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de21b676-b61b-4bd5-9903-de67e5a7ceb5",
  "meta": {
    "templateId": "2035",
    "templateCredsSetupCompleted": true,
    "instanceId": "f710b3bb27cae3091c6762abac7b81d1dbcc3a1de09a3baa45702bd7910d3ae6"
  },
  "id": "DUBLsqlqDrvC1jgu",
  "tags": []
}